#delete {
  margin-left: 25%;
  margin-bottom: 5px;
}
//
.movie-poster {
  width: 420px;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
}

.movie-name {
  font-size: 24px;
  text-shadow: 2px 2px 5px gray;
  width: 105px;
}

.container {
  /* background-color:orange; */
  /* border:2px solid black;  */
  border-radius: 18px;
  width: 430px;
  background-color: rgb(190, 211, 211);

  /* height: 500px; */
  padding: 5px;
  /* height: min-content; */
}
.container:hover {
  cursor: pointer;
  box-shadow: rgba(20, 10, 10, 10) 0px 54px 55px,
    rgba(255, 255, 255, 0.12) 0px -12px 30px,
    rgba(250, 247, 247, 0.12) 0px 4px 6px,
    rgba(255, 255, 255, 0.17) 0px 12px 13px,
    rgba(255, 255, 255, 0.09) 0px -3px 5px;
  position: relative;
  top: -5px;
}

.movie-specs {
  display: flex;
  justify-content: space-between;
}

p {
  padding: 10px;
  font-family: sans-serif;
}

.movie-list {
  display: grid;

  grid-template-columns: repeat(
    auto-fit,
    minmax(400px, 1fr)
  ); /*RAM to make responsive*/
  gap: 2rem;
  margin-top: 50px;
}
span {
  font-weight: bold;
  font-size: 18px;
}
.summary {
  font-family: sans-serif;
  font-size: 20px;
}

body {
  background-color: white;
}

.counter-container {
  gap: 5px;
  display: flex;
}
.counter-container > button {
  font-size: 1.2rem;
  margin-top: 0.2rem;
}

input {
  height: 30px;
  width: 50%;
}

.add-movie-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  width: 50%;
  align-items: center;
  margin-left: 25% !important;
}
button {
  width: 50%;
  height: 50px;
  gap: 0.1rem;
}

.toggle {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: center;
  margin-left: 0.5%;
  background-color: rgb(237, 237, 243);
}

/* .App {
  height: 100%;
  margin-top: 0;
  background: url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2luZW1hfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
} */
.inputfield {
  background-color: white;
  border-radius: 10px;
}

#home {
  text-align: center;
  background-image: url(https://wallpaperaccess.com/full/1690368.jpg);
  color: antiquewhite;
  height: 100vh;
  padding: 500px;
  font-size: 500px;
}

#addcolor {
  margin-top: 30px;
  margin-left: 45%;
}
#addbutton {
  width: 132px;
  height: 31px;
  margin-left: 5px;
  margin-bottom: 10px;
}
p {
  padding: 20px;
}
nav {
  height: 50px;
}
.navbar {
  position: sticky;
  top: 0;
}
#colorinput {
  margin-left: 25%;
  height: 50px;
  font-size: 30px;
  margin-top: 25px;
}

.page-Not-Found {
  text-align: center;
}

#caveman {
  width: 60%;
  align-items: center;
}
#page-404 {
  font-size: 100px;
}

.details-movie {
  text-align: center;
}

.game-box {
  height: 8rem;
  width: 8rem;
  border: 4px solid black;
  font-size: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 60px 100px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 0px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: min-content;
  cursor: pointer;
}

.game-box:hover {
  background-color: rgba(228, 217, 217, 0.561);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -7px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.tictac {
  margin-left: 38%;
  margin-top: 10%;
}

.restart {
  margin-top: 4px;
  width: 250px;
  padding: 10px;
}

.X {
  width: 120px;
  margin-right: 10px;
}

.O {
  width: 120px;
}

Card {
  border: 2px solid black;
}

#reset {
  width: 120px;
  margin-left: 145px;
  margin-top: 30px;
}

.movie-rating {
  margin-right: 5px;
}

.MuiSwitch-input {
  margin-right: 10px;
}

#editIcon {
  margin-left: 365px;
}

#bottom {
  display: flex;
  justify-content: end;
}
